In [1]:
import pandas as pd
df = pd.read_excel('../5.4-lab-powerbi/data/classic_models.xlsx')
df.to_excel('classic_models.xlsx', index=False)

In [2]:
df

,productLine,textDescription,htmlDescription,image
0,Classic Cars,Attention car enthusiasts: Make your wildest c...,NaN,NaN
1,Motorcycles,Our motorcycles are state of the art replicas ...,NaN,NaN
2,Planes,"Unique, diecast airplane and helicopter replic...",NaN,NaN
3,Ships,The perfect holiday or anniversary gift for ex...,NaN,NaN
4,Trains,Model trains are a rewarding hobby for enthusi...,NaN,NaN
5,Trucks and Buses,The Truck and Bus models are realistic replica...,NaN,NaN
6,Vintage Cars,Our Vintage Car models realistically portray a...,NaN,NaN